flows.json
[{"id":"20e9c1fe.44cdee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"90a3d417.59ce18","type":"inject","z":"20e9c1fe.44cdee","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":600,"y":2740,"wires":[["6fa7fc6f.7aac64"]]},{"id":"c8712e12.2ccef","type":"arduino out","z":"20e9c1fe.44cdee","name":"","pin":"13","state":"OUTPUT","arduino":"50283a77.ba1c94","x":1020.5,"y":2740,"wires":[]},{"id":"6fa7fc6f.7aac64","type":"function","z":"20e9c1fe.44cdee","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":2740,"wires":[["c8712e12.2ccef"]]},{"id":"cda845f3.d9b2a8","type":"EMOTIV","z":"20e9c1fe.44cdee","name":"EMOTIV","x":100,"y":420,"wires":[["a369313a.bdb46"]]},{"id":"a369313a.bdb46","type":"Profile-Name","z":"20e9c1fe.44cdee","name":"Profile Name","profileName":"Pranay","x":320,"y":420,"wires":[["7bc2a4dc.b2da4c","e2d2fc27.d8d4e","d834dfe9.b5148","2065363c.94b25a","82dee0f5.9c0b2","48ee3745.d867c8"]]},{"id":"e2d2fc27.d8d4e","type":"Mental-Command","z":"20e9c1fe.44cdee","name":"Mental Commands","actionName":"pull","mcSen":"10","x":590,"y":280,"wires":[["3dfb5148.32d32e"]]},{"id":"9bdfcf8a.8f1a3","type":"arduino out","z":"20e9c1fe.44cdee","name":"","pin":"11","state":"PWM","arduino":"779c225c.77a5fc","x":1270,"y":240,"wires":[]},{"id":"7bc2a4dc.b2da4c","type":"Mental-Command","z":"20e9c1fe.44cdee","name":"Mental Commands","actionName":"push","mcSen":"4","x":590,"y":220,"wires":[["eac593b8.a1592"]]},{"id":"d834dfe9.b5148","type":"Mental-Command","z":"20e9c1fe.44cdee","name":"Mental Commands","actionName":"drop","mcSen":10,"x":590,"y":400,"wires":[["bdaffbe9.e71938"]]},{"id":"2065363c.94b25a","type":"Mental-Command","z":"20e9c1fe.44cdee","name":"Mental Commands","actionName":"lift","mcSen":10,"x":580,"y":460,"wires":[["fc6ffcf8.79bca"]]},{"id":"82dee0f5.9c0b2","type":"Mental-Command","z":"20e9c1fe.44cdee","name":"Mental Commands","actionName":"left","mcSen":10,"x":590,"y":580,"wires":[["23381e16.0c2622"]]},{"id":"48ee3745.d867c8","type":"Mental-Command","z":"20e9c1fe.44cdee","name":"Mental Commands","actionName":"right","mcSen":10,"x":590,"y":620,"wires":[["ec30bc35.a4d03"]]},{"id":"eac593b8.a1592","type":"function","z":"20e9c1fe.44cdee","name":"average","func":"","outputs":1,"noerr":0,"x":840,"y":220,"wires":[["9bdfcf8a.8f1a3","cd0b0cdf.4755a"]]},{"id":"3dfb5148.32d32e","type":"function","z":"20e9c1fe.44cdee","name":"average","func":"","outputs":1,"noerr":0,"x":840,"y":280,"wires":[["9bdfcf8a.8f1a3","11bc7dc8.eaee62"]]},{"id":"bdaffbe9.e71938","type":"function","z":"20e9c1fe.44cdee","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["dd71fc2d.ba66a","29781327.fe5b4c"]]},{"id":"fc6ffcf8.79bca","type":"function","z":"20e9c1fe.44cdee","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":460,"wires":[["dd71fc2d.ba66a","558cfb8c.dc2de4"]]},{"id":"23381e16.0c2622","type":"function","z":"20e9c1fe.44cdee","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":580,"wires":[["d6835823.377ce8","345ac513.d3400a"]]},{"id":"ec30bc35.a4d03","type":"function","z":"20e9c1fe.44cdee","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["d6835823.377ce8","270552f6.526a7e"]]},{"id":"dd71fc2d.ba66a","type":"arduino out","z":"20e9c1fe.44cdee","name":"","pin":"10","state":"PWM","arduino":"779c225c.77a5fc","x":1280,"y":420,"wires":[]},{"id":"d6835823.377ce8","type":"arduino out","z":"20e9c1fe.44cdee","name":"","pin":"9","state":"PWM","arduino":"779c225c.77a5fc","x":1270,"y":580,"wires":[]},{"id":"cd0b0cdf.4755a","type":"debug","z":"20e9c1fe.44cdee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":160,"wires":[]},{"id":"29781327.fe5b4c","type":"debug","z":"20e9c1fe.44cdee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":360,"wires":[]},{"id":"345ac513.d3400a","type":"debug","z":"20e9c1fe.44cdee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":540,"wires":[]},{"id":"558cfb8c.dc2de4","type":"debug","z":"20e9c1fe.44cdee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":460,"wires":[]},{"id":"11bc7dc8.eaee62","type":"debug","z":"20e9c1fe.44cdee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":320,"wires":[]},{"id":"270552f6.526a7e","type":"debug","z":"20e9c1fe.44cdee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":640,"wires":[]},{"id":"50283a77.ba1c94","type":"arduino-board","device":""},{"id":"779c225c.77a5fc","type":"arduino-board","z":"","device":"COM7"}]